header {
      text-align: center;
      color: white;
    }
    a:link {
      color:white;
      text-decoration:none;
      font-family:helvetica arial, sans-serif;
      border: 0;
      padding: 10px;
      font-size: 18px;
      text-align: center
    }
    a:hover {
      background:#2980B9;
      color:white;
    }
    a:active {
      color:#9ad1ff;
    }
    a:visited{
      background:#3498DB;
      color:white;
    }
    h1 {
      font-size: 70px;
      color:#2C3E50;
      text-align: center;
    }
    h2 {
      font-size: 40px;
      color:white;
      text-align: center;
       font-family: helvetica;
    }
    section.gall a:link{
      display: block;
      margin: auto;
      border: 7px solid rgba(129,207,224,0.7);
      border-radius: 20px;
      float:left;
      padding:20px;
      
    }
    section.social{
      width: 90px;
      float:right;
      display:inline;
      margin:auto;
      border: 7px solid rgba(129,207,224,0.7);
      border-radius: 20px;
      position: relative;
    }
    section.Intro{
      margin: auto;
      display: block;
      font-size: 50px;
    }
    nav {
      padding: 10px;
      background: rgba(231,76,60,0.7);
      text-align: center;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    body {
      max-width:500px;
      padding:20px;
      margin:0 auto;
      background-color:#ECF0F1;
    }
    p{
      font-family: helvetica;
      font-size: inherit;
      margin: auto;
      color: #2C3E50;
    }
    /*input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background:rgba(129,207,224,0.7);
      color: white;
    }*/
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
